body{
	margin:0;
	padding:0;
}

div{
	background-color:#271500;
	background-image:none;
	width:100%;
}

p{
	margin:0;
}

#title{
	background-image:none;
	font-size:36pt;
}

#date{
	background-image:none;
	font-size:18pt;
	color:white;
}

#content{
	background-image:none;
	font-size:24pt;
}

#container{
	padding-left:0.25em;
	background-color:rgba(0,0,0,0);
}

#gritlink{
	color:black;
}
