body{
	margin:0;
	padding:0;
}

*{
	background-image:url("https://images.pexels.com/photos/695644/pexels-photo-695644.jpeg");
}

div{
	background-color:#271500;
	background-image:none;
	width:100%;
}

#title{
	background-image:none;
	font-size:36pt;
}
