body{
	margin:0;
	padding:0;
}

*{
	background-image:url("https://images.pexels.com/photos/695644/pexels-photo-695644.jpeg");
}

div{
	background-color:#271500;
	background-image:none;
	width:100%;
}

#title{
	background-image:none;
	font-size:36pt;
	padding-left:0.25em;
}

#date{
	background-image:none;
	font-size:18pt;
	padding-left:0.25em
}

#content{
	background-image:none;
	font-size:24pt;
	padding-left:0.25em;
}
